<h1>About US</h1>
<p>We are working on our One Month Rails Pinteresting app</p>
<p>Things and stuff are happening on this page. There is more magic than meets the eye.</p>
<h6>This text is very small?</h6>
<p>This is p</p>